.tabs {
  overflow: hidden;
  margin-top: 1rem;
  position: relative;
}

.tab-wrapper {
  display: inline-flex;
}

.tab--active .border-bottom {
  width: 100%;
  left: 0;
}

.tab {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 14px;
  font-size: 17px;
  color: var(--text-color);
}

.tab:hover {
  background-color: #292929;
}

.border-bottom {
  bottom: 0;
  position: absolute;
  height: 4px;
  background-color: var(--success-color);
  transition: left 0.4s, width 0.4s;
}
