.song-suggestions-table {
  width: 100%;
  border-collapse: collapse;
}

.song-suggestions-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.song-suggestions-table tr:hover {
  background-color: var(--main-bg-color);
  transition: all 0.3s ease-in-out;
}

#song-suggestions {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  padding: 0;
  margin-top: 0;
}

#song-suggestions.show {
  opacity: 1;
  visibility: visible;
  padding: 30px;
  margin-top: 15px;
}

.search-results {
  display: flex;
  padding: 0;
  margin: 0;
  padding: 10px;
}

.search-results-info {
  display: flex;
  align-items: center;
  padding: 20px;
}

/* Main table styles */
.song-results-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  border-spacing: 0 10px;
}

/* Table header styles */
.song-results-table th {
  font-size: 18px;
  padding: 15px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Table row styles */
.song-results-table tr:nth-child(even) {
  background-color: #181818;
}

.song-results-table td {
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  max-width: 100px;
}
