.song-suggestions-table {
  width: 100%;
  border-collapse: collapse;
}

.song-suggestions-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.song-suggestions-table tr:hover {
  background-color: #181818;
}

#song-suggestions {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  padding: 0;
  margin-top: 0;
}

#song-suggestions.show {
  opacity: 1;
  visibility: visible;
  padding: 35px;
  margin-top: 30px;
}