/* Center align elements */
.text-center {
  text-align: center;
}

/* Left align elements */
.text-left {
  text-align: left;
}

/* Right align elements */
.text-right {
  text-align: right;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Hide elements */
.hide {
  opacity: 0;
  visibility: hidden;
  display: none;
}

/* Show elements */
.show {
  display: block;
  opacity: 1;
  visibility: visible;
  animation: show 0.5s ease-in-out forwards;
}

/* Clearfix */
.cf::after {
  content: "";
  display: table;
  clear: both;
}

/* Margin utilities */
.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-6 {
  margin-top: 1.25rem;
}
.mt-8 {
  margin-top: 1.5rem;
}
.mt-10 {
  margin-top: 1.75rem;
}
.mt-12 {
  margin-top: 2rem;
}



/* Padding utilities */
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 0.75rem;
}
.p-4 {
  padding: 1rem;
}
