body {
    font-family: "Arial", sans-serif;
    background-color: #181818;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    flex-direction: column;
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .form {
    background-color: #282828;
    padding: 35px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    min-width: 500px;
    margin: 0 auto;
  }
  
  .form__label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .form__input,
  .form__textarea {
    width: 100%;
    padding: 7px;
    border: 1px solid #3c3c3c;
    border-radius: 3px;
    font-size: 14px;
    background-color: #3c3c3c;
    color: #fff;
    margin-bottom: 15px;
  }
  
  .form__textarea {
    resize: vertical;
  }
  
  .form__submit {
    background-color: #1db954;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  .form__submit:hover {
    background-color: #1ed760;
  }
  
  .form__submit:active {
    background-color: #1aa34d;
  }
  
  .form__input:focus,
  .form__textarea:focus {
    outline-color: #1db954;
  }
  
  .message {
    font-size: 1.1rem;
    max-width: 600px;
    margin: 0 auto 20px auto;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
  }
  
  .message--success {
    background-color: #1db954;
    color: #fff;
  }
  
  .message--error {
    background-color: #e74c3c;
    color: #fff;
  }
  
  .spotify-connection-message {
    font-size: 1.1rem;
    max-width: 600px;
    margin: 0 auto 30px auto;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
  }
  
  .spotify-connection-message--success {
    background-color: #1db954;
    color: #fff;
  }
  
  .spotify-connection-message--error {
    background-color: #e74c3c;
    color: #fff;
  }
  
  .button {
    display: inline-block;
    padding: 20px;
    background-color: #1D4ED8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.4s ease;
  }
  
  .button:hover {
    background-color: #3B82F6;
  }
  
  .submit-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    justify-items: center;
  }