<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/main.css') }}"
    />
    <title>Create Spotify Playlist</title>
  </head>
  <body id="body" class="no-transition">
    {% if client_id and client_secret and redirect_uri %}
    <p class="message message--success">
      Spotify credential data has been loaded.
    </p>
    {% else %}
    <p class="message message--error">
      Spotify developer data could not be loaded from the .env file. Check your
      .env file and make sure it contains the correct variables.
    </p>
    {% endif %}

    <h1>Generate song recommendations</h1>
    <form class="form" method="post" id="song-form">
      <label class="form__label" for="playlist_name"
        >Search criteria (example: "Virtual Riot - Energy Drink"):</label
      >
      <input
        class="form__input"
        type="text"
        id="song_name"
        name="song_name"
        required
      />
      <label class="form__label" for="num_suggestions"
        >Number of suggestions:</label
      >
      <select class="form__input" id="num_suggestions" name="num_suggestions">
        <option value="10" selected>10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="50">50</option>
      </select>
      <div class="submit-wrapper">
        <input class="form__submit" type="submit" value="Fetch songs" />
      </div>
    </form>
    <br />
    <div class="form-background" id="song-suggestions"></div>

    <h1>Import To Spotify</h1>
    <div class="tabs">
      <div class="tab-wrapper">
        <!-- Add this line -->
        <button class="tab" id="newPlaylistTab">New Playlist</button>
        <button class="tab" id="importPlaylistTab">
          Import to Existing Playlist
        </button>
        <div class="border-bottom"></div>
      </div>
      <!-- Add this line -->
    </div>
    <div class="tab-content" id="newPlaylistContent">
      <br />&nbsp;
      <h2>New Playlist</h2>
      <form class="form" method="post" id="playlist-form">
        <label class="form__label" for="playlist_name">Playlist Name:</label>
        <input
          class="form__input"
          type="text"
          id="playlist_name"
          name="playlist_name"
          required
        /><br />
        <label class="form__label" for="playlist_description"
          >Playlist Description:</label
        >
        <input
          class="form__input"
          type="text"
          id="playlist_description"
          name="playlist_description"
          required
        /><br />
        <label class="form__label" for="song_recommendations"
          >Song Recommendations (one per line):</label
        >
        <textarea
          class="form__textarea"
          id="song_recommendations"
          name="song_recommendations"
          rows="10"
          cols="50"
          disabled
        ></textarea>
        <div class="submit-wrapper">
          <input class="form__submit" type="submit" value="New Playlist" />
          <button class="form__submit__warning" type="reset">Reset</button>
        </div>
      </form>
    </div>
    <div class="tab-content" id="importPlaylistContent" style="display: none">
      <br />&nbsp;
      <h2>Import to Existing Playlist</h2>
      <form class="form" method="post" id="playlist-form">
        <label class="form__label" for="playlist_name">Playlist Name:</label>
        <input
          class="form__input"
          type="text"
          id="playlist_name"
          name="playlist_name"
          required
        /><br />
        <label class="form__label" for="playlist_description"
          >Playlist Description:</label
        >
        <input
          class="form__input"
          type="text"
          id="playlist_description"
          name="playlist_description"
          required
        /><br />
        <label class="form__label" for="song_recommendations"
          >Song Recommendations (one per line):</label
        >
        <textarea
          class="form__textarea"
          id="song_recommendations"
          name="song_recommendations"
          rows="10"
          cols="50"
          disabled
        ></textarea>
        <div class="submit-wrapper">
          <input
            class="form__submit"
            type="submit"
            value="Import To Playlist"
          />
          <button class="form__submit__warning" type="reset">Reset</button>
        </div>
      </form>
    </div>

    <h1>Playlists:</h1>
    <div id="playlist-container"></div>

    <script>
      document
        .getElementById("newPlaylistTab")
        .addEventListener("click", function () {
          document.getElementById("newPlaylistContent").style.display = "block";
          document.getElementById("newPlaylistTab").classList.add("active");

          document
            .getElementById("importPlaylistTab")
            .classList.remove("active");
          document.getElementById("importPlaylistContent").style.display =
            "none";
        });

      document
        .getElementById("importPlaylistTab")
        .addEventListener("click", function () {
          document.getElementById("newPlaylistContent").style.display = "none";
          document.getElementById("newPlaylistTab").classList.remove("active");

          document.getElementById("importPlaylistContent").style.display =
            "block";
          document.getElementById("importPlaylistTab").classList.add("active");
        });

      function switchTab(evt, tabContentId) {
        const tabContents = document.getElementsByClassName("tab-content");
        for (let i = 0; i < tabContents.length; i++) {
          tabContents[i].style.display = "none";
        }

        const tabs = document.getElementsByClassName("tab");
        for (let i = 0; i < tabs.length; i++) {
          tabs[i].className = tabs[i].className.replace(" active", "");
        }

        document.getElementById(tabContentId).style.display = "block";
        evt.currentTarget.className += " active";
      }

      // Set default active tab
      document.getElementById("newPlaylistTab").click();

      // Tab animation

      function updateBorderPosition() {
        const activeTab = document.querySelector(".tab.active");
        const borderBottom = document.querySelector(".border-bottom");

        if (activeTab) {
          const tabRect = activeTab.getBoundingClientRect();
          const tabsRect = borderBottom.parentElement.getBoundingClientRect();

          borderBottom.style.left = `${tabRect.left - tabsRect.left}px`;
          borderBottom.style.width = `${tabRect.width}px`;
        }
      }

      document.querySelectorAll(".tab").forEach((tab) =>
        tab.addEventListener("click", () => {
          document
            .querySelectorAll(".tab")
            .forEach((t) => t.classList.remove("active"));
          tab.classList.add("active");
          updateBorderPosition();
        })
      );

      window.addEventListener("load", updateBorderPosition);
    </script>

    <script src="/static/scripts/main.js" type="module" defer></script>
  </body>
</html>
